

.landing-page-header-container {
	width: 100%;
	height: 130px;
	margin-top: -20px;
	background: #D0EBFF;
	text-align: center;
}

.landing-page-header-container-title {
	padding-top: 10px;
	font-size: 50px;
}

.landing-page-header-container-subtitle {
	font-size: 20px;
}


.landing-page-header-container-subtitle {
	font-size: 20px;
}

.landing-page-three-column-section {
	padding-top: 10px;
	background: url(/images/titleLogo.jpg) center center;
	width: 100%;
	background-size: contain;
	height: 400px;
	background-repeat: no-repeat;
}


.landing-page-three-column-section .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.landing-page-three-column-section h2 {
  font-weight: normal;
}
.landing-page-three-column-section .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
