#players {
    position : relative;
    height: 100%;
    width: 100%;
}

div.player {
    position: absolute;
    width: 16.0%;
    border: 1px solid #333;
    border-radius: 10px;
    background: #fff;
    opacity: 0.8;
    text-align: center;
    height: 32.3%;
    -webkit-box-shadow:-3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:-3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow:-3px 3px 5px 0px rgba(0,0,0,0.75);
}

div.playerCard {
    height:100%;
    padding: 0px 4px 0px 4px;
    font-size: 0.9em;
}

div.activeShooter {
    background: lawngreen;
    color: black;
    border-radius: 10px;
}

div.activeAssister {
    background: deepskyblue;
    color: white;
    border-radius: 10px;
}

div.activeGoalTender {
    background: #bf1515;
    color: white;
    border-radius: 10px;
}

div.activeFighter {
    background: #4e05bf;
    color: white;
    border-radius: 10px;
}

div.activatedFighter {
    background: #8d7fff;
    color: white;
    border-radius: 10px;
}

div.playerToBeat {
    background: #038dad;
    color: white;
    border-radius: 10px;
}

div.non_active {
    border: none;
}

div.active {
    background: black;
    color: white;
    font-weight: bold;
}

#playerTitle{
    padding:0px;
    height:10%;
    white-space: nowrap;
    overflow: hidden;
}

#playerHeader{
    padding:0px;
    height:10%;
}

#playerPhoto{
    padding:0px;
    height:60%;
    overflow: hidden;
    position: relative;
}

#playerAbilities{
    position: absolute;
    text-align: right;
    width: 100%;
}

#playerAbilities img{
    cursor: pointer;
    border: 3px solid #f00;
    -webkit-border-radius: 30px;
}

#playerMainAttributes{
    padding:0px;
    height:10%;
}

#playerAdditionalAttributes{
    padding:0px;
    height:10%;
}

#homeGoaltender {
    left : 0%;
    top : 33.3%;
}

#homeDefenseman1 {
    left : 16.5%;
    top : 13%;
}

#homeDefenseman2 {
    left : 16.5%;
    top : 53%;
}

#homeLeftWing {
    left : 33%;
    top : 0%;
}

#homeRightWing {
    left : 33%;
    bottom : 0%;
}

#homeCenter {
    left : 33%;
    top : 33.3%;
}

#awayGoaltender {
    right : 0%;
    top : 33.3%;
}

#awayDefenseman1 {
    right : 16.5%;
    top : 13%;
}

#awayDefenseman2 {
    right : 16.5%;
    top : 53%;
}

#awayLeftWing {
    right : 33%;
    top : 0%;
}

#awayRightWing {
    right : 33%;
    bottom : 0%;
}

#awayCenter {
    right : 33%;
    top : 33.3%;
}

