html, body {
    height:100%;
    width:100%;
    font-family: Impact, Tahoma, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#body {
    height:100%;
    width:100%;
}

#app{
    height:100%;
    width:100%;
}

@media (min-width: 1200px) {
    #gameBody { height: 720px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    #gameBody { height: 620px;}
}
@media (min-width: 768px) and (max-width: 991px) {
    #gameBody { height: 560px;}
}
@media (max-width: 767px) {
    #gameBody { height: 400px;}
}
@media (max-width: 480px) {
    #gameBody { height: 300px;}
}

.no-padding{
    padding:0px;
}

#gameWrapper{

}

#gameHeader{
    border-bottom:4px solid #4466bb;
}

#gameBody{
    position: relative;
}

#gameDialogs{

}

#gameField {
    border-bottom: 1px solid black;
    background: url('/images/game/gamefield.png') center center no-repeat;
    background-size: cover;
    height: 100%;

    margin: 0 auto;
    font-family: Tahoma, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#eventPanelWrapper {
    position: absolute;
    left: 0;
    margin: 0 auto;
    top: 35%;
    width: 100%;
    text-align: center;
}

#eventPanel{
    /*border: 4px solid black;*/
    width: 50%;
    margin: 0 auto;
}

#eventPanelPlayerName span{
    display: block;
    padding: 10px 10px 0px 10px;
}

#eventPanelResult {
    padding: 15px;
    font-size: 3em;
    cursor: pointer;
}

#diceWrapper {
    padding: 5px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 2%;
}

#dice button {
    background : transparent;
    border:none;
}

/*Scoreboard BEGIN*/
#scoreBoard img {
    display: inline-block;
    height: 70px;
    max-width: 100%;
    padding: 5px;
}

#phase {
    font-weight: 600;
    padding: 10px;
}

#homeTeamLogo{
    padding: 5px 0px 5px 0px;
}

#homeTeamScore{
    font-size: 2em;
    font-weight: 600;
    padding: 5px;
}

#scoreDelimiter{
    font-size: 2em;
    font-weight: 600;
    padding: 5px;
}

#awayTeamScore{
    font-size: 2em;
    font-weight: 600;
    padding: 5px;
}

#awayTeamLogo{
    padding: 5px 0px 5px 0px;
}

#inGameMenu{
    padding: 0px;
}

#playerMainAttributes{
    padding: 10px 5px 10px 5px;
}

#playerAdditionalAttributes{
    padding: 10px 5px 10px 5px;
}

/*Scoreboard END*/

#chat {
    background: aliceblue;
    font-weight: bold;
    padding: 10px;
}

#infoPanel {
    /*padding: 10px;
    background: #777;
    color: white;*/
}

div.infoPanel-result_row{
    float: left;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid black;
}

div.infoPanel-header{
    float: left;
    width: 100%;
    padding: 10px;
    background: black;
    color : white;
}

#actionCards {
    background: limegreen;
    padding: 10px;
}