select.rosterPlayerListbox{
    width: 100%;
}

div.rosterPlayer {
    position: absolute;
    width: 25.0%;
    border: 1px solid #333;
    border-radius: 10px;
    background: #fff;
    opacity: 0.8;
    text-align: center;
    height: 25%;
    -webkit-box-shadow:-3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:-3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow:-3px 3px 5px 0px rgba(0,0,0,0.75);
    color: black;
}

div.rosterPlayerDisabled{
    background-color: #b00;
    cursor:not-allowed;
}

div.rosterPlayerFull{
    background-color: #15a12a;
    cursor: pointer;
}

div.rosterPlayerLimited{
    background-color: #fdd000;
    cursor: pointer;
}

div.rosterPlayerName{
    font-weight: bold;
    text-align: center;
    padding: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

div.rosterPlayerPosition{
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    float:left;
}

#rosterhomeGoaltender {
    left: 40%;
    top: 5%;
}

#rosterhomeDefenseman1 {
    left: 24%;
    top: 35%;
}

#rosterhomeDefenseman2 {
    left: 56%;
    top: 35%;
}

#rosterhomeLeftWing {
    left: 8%;
    top: 70%;
}

#rosterhomeRightWing {
    left: 73%;
    top: 70%;
}

#rosterhomeCenter {
    left: 41%;
    top: 70%;
}

#rosterawayGoaltender {
    left: 40%;
    top: 70%;
}

#rosterawayDefenseman1 {
    left: 24%;
    top: 40%;
}

#rosterawayDefenseman2 {
    left: 56%;
    top: 40%;
}

#rosterawayLeftWing {
    left: 8%;
    top: 5%;
}

#rosterawayRightWing {
    left: 73%;
    top: 5%;
}

#rosterawayCenter {
    left: 41%;
    top: 5%;
}

