@media (min-width: 1200px) {
    #gameRoster { height: 380px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    #gameRoster { height: 380px;}
}
@media (min-width: 768px) and (max-width: 991px) {
    #gameRoster { height: 345px;}
}
@media (max-width: 767px) {
    #gameRoster { height: 250px;}
}
@media (max-width: 480px) {
    #gameRoster { height: 185px;}
}

#gameRoster{
    position: relative;
}

#gameRosterField {
    border-bottom: 1px solid black;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    font-family: Tahoma, Helvetica Neue, Helvetica, Arial, sans-serif;
}