div.rosterPlayerListbox{
    max-height: 160px;
    overflow-y: scroll;
}

div.rosterPlayerListBoxItem, div.rosterPlayerListBoxItemSelected {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

div.rosterPlayerListBoxItemSelected, div.rosterPlayerListBoxItem:hover{
    background: lightcyan;
}

div.rosterPlayerDisabledListBoxItem {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    background: #ccc;
}